@import "main.css";


#popular-games{
    margin-top: 40px;
    position: relative;
    width: 70%;
}

#popular-games-title{
	text-align:center;
	margin-bottom:25px;
}

#current-pop-games{
    justify-content: space-evenly;
    display: flex;
}

#review-table{
    display: flex;
    position: relative;
    width: 60%;
    margin-top: 70px;
}

#game-demos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 60px;
}

#demo-title{
    width: 68%;
    margin-bottom:20px;
    padding-left:5px;
    text-align:center;
}

#demo-one{
	margin-bottom:20px;
}

.make-flex-center{
	text-align:center;
	display:block;
	margin:0 auto;
}

.remove-bottom-line{
	border-bottom:none;
}

.horizontal-flex.center-game-title{
    justify-content: center;
    align-items:center;
}

.round-corners{
	border-radius: 20%;
}