@import "main.css";

div>p{
	text-align:left;
}

#profile-card{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    width: fit-content;
}

#profile-header{
	display:flex;
	justify-content:center;
}

#review-table{
    display: inline;
    width: 60%;
}

#profile-body{
	font-size: 20px;
	text-align:center;
}

.vertical-flex{
    display: flex;
    flex-direction: column;
}

.thumbnail{
    width: 180px;
    height: 200px;
    border-radius: 5px;
}
.score-container{
	display:flex;
	height:100%;
    align-items: center;
    justify-content: center;
}

.game-info{
	display:flex;
	flex-direction:column;
}

