<link rel='stylesheet' type='text/css' media='screen' href='css/navigation.css'>

<nav id = "nav-bar" class = "nav-style">    
    <div id = "identifiers" class="header-fonts">
        <p style="padding-right:20px">Crazy Al's reviews</p>
        <i class="fas fa-gamepad" style="font-size: 80px;"></i>
    </div>

    <div id = "nav-links" class="header-fonts">
      <ul id = "link-list">
      	   <li><a href = "./">home</a></li>
           <li><a href="./profile">profile</a></li>
           <li><a href="./reviews">reviews</a></li>
           <li><a href="./boards">boards</a></li>
           <li><a href="./search">search</a></li>           
        </ul>
    </div>
</nav>